
/* import of font style */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

/* universal */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: black;
}

/* background image */
.main{
    background-image: url("/assest/bg.jpg");
    background-position: center;
    width: 100vw;
    height: 90vh;
    position: relative;
}

/* black box above background image */
.main .box{
    width: 100%;
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
}

/* navbar */
nav{
    height: 62px;
    max-width: 75vw;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

#nav-logo{
    display: inline;
}

#nav-button{
    display: inline;
}

#nav-logo img{
    width: 150px;
    height: 170px;
    position: relative;
    z-index: 10;
}

#nav-button button{
    position: relative;
    z-index: 10;
}

#nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#lang-icon{
    font-weight: 300;
    color: white;
    position: relative;
    z-index: 10;
    display: inline;
    
}

#lang{
    position: relative;
    z-index: 10;
    border: 0.1px solid rgba(255,255,255,0.3);
    padding: 8px 12px;
    font-size: medium;
    border-radius: 4px;
    margin-right: 10px;

}

#lang:focus-within{
    border: 2px solid white;
}

/* hero section */
.hero{
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 23px;
    width: 100%;
}

.hero #first{
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    width: 40%;

}

.hero #second{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.hero #third{
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}

/* gray seperation line */
.seperation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    top: -62px;
    z-index: 11;
}

.red-gs{
    background-color: red;
    color: white;
    padding: 10px 28px;
    font-size: 25px;
    border-radius: 4px;
    border: 0;
    text-align: center;
    display: inline;
    position: relative;
    top: 2px;
}

.red-si{
    background-color: red;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: 300;
    font-size: medium;

}

#hero-last input{
    align-items: center;
    padding: 3px 24px;
    font-size: 30px;
    width: 275px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 3px;
    height: 45px;
    font-size: medium;
    color: white;
     transition: 0.3s ease;  
}


#nav-button select{
    font-weight: 300;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    position: relative;
    z-index: 10;
    border: 0;
    font-size: medium;
}

#nav-button option{
    background-color: white;
    color: black;
}

/* section */
.sec-one{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}


.image img{
    position: relative;
    width: 30vw;
    z-index: 2;
}

.image{
    position: relative;
    
}

.image video{
    position: absolute;

    /* These % values match the Netflix TV frame */
    top: 21%;
    left: 13%;
    width: 73%;
    height: 57%;

    z-index: 1;
    border-radius: 2px;
}

.con-one{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.con-two{
    font-size: 18px;
    font-weight: 400;

}

/* FAQs */
.faq h2{
    color: white;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.faq .box{
    display: flex;
    background-color: #2d2d2d;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
    padding: 25px 20px;
    font-size: 25px;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq .box:hover{
    background-color: #414141;
}


/* Footer */
.foot span{
    color: #a7aeaf;
    max-width: 70vw;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

.footer{
    max-width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* grid chnages to two-two when viewed on phone */
@media screen and (max-width:500px) {
    .footer{
    grid-template-columns: 1fr 1fr;
}
}

.footer-items{
    display: flex;
    flex-direction: column;
}

.footer-items a{
    font-size: 14px;
    color: #a7aeaf;
    margin-bottom: 25px;
}


/* RESPONSIVENESS */


/* Make images scale properly */
.image img {
    width: 100%;
    max-width: 400px;
}

/* Fix section widths for mobile */
.sec-one {
    max-width: 90vw;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}


/*  HERO SECTION  */
@media screen and (max-width: 900px) {
    nav {
        max-width: 90vw;
    }

    .hero #first {
        font-size: 2.2rem;
        width: 100%;
    }

    #hero-last {
        flex-direction: column;
    }

    #hero-last input {
        width: 90%;
        margin-bottom: 10px;
        font-size: 1rem;
        height: 48px;
    }

    .red-gs {
        font-size: 1.1rem;
        width: 50%;
        padding: 12px 0;
        text-align: center;
    }

    .hero span {
        width: 100%;
    }
}


/*  SECTIONS WITH IMAGE + TEXT  */
@media screen and (max-width: 900px) {
    .con-one {
        font-size: 30px;
    }

    .con-two {
        font-size: 16px;
        padding: 0 10px;
    }

    .image video {
        top: 21%;
        left: 12%;
        width: 76%;
        height: auto;
    }
} 



/* SECOND SECTION (phone + text)  */

@media screen and (max-width:500px) {
    .sec-one{
        flex-wrap: wrap;
        padding-top: 34px;
    }
}
@media screen and (max-width: 900px) {
    .sec-one:nth-child(3),
    .sec-one:nth-child(5) {
        flex-direction: column-reverse;
    }
}


/*  FAQ  */
@media screen and (max-width: 900px) {
    .faq h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .faq .box {
        font-size: 18px;
        padding: 15px 20px;
    }
}


/*  FOOTER  */
@media screen and (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 30px 10px;
    }

    .foot span {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*  MOBILE ONLY  */
@media screen and (max-width: 500px) {
    nav img {
        width: 100px;
        height: auto;
    }

    #lang {
        padding: 5px 10px;
    }

    .main {
        height: 75vh;
    }

    .main .box {
        height: 75vh;
    }
}


/* CREATED BY GARBHIT MAHESHWARI */
